@keyframes animation-GitHubCorner-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

.GitHubCorner {
  --size: 5rem;

  display: block;
  width: var(--size);
  height: var(--size);

  position: fixed;
  top: 0;
  right: 0;

  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.GitHubCorner__octocat {
  display: block;
  width: inherit;
  height: inherit;
  fill:#151513;
  color:#fff;
}

.GitHubCorner__octocatArm {
  transform-origin: 130px 106px;
}

@media (pointer: fine) {
  .GitHubCorner:hover .GitHubCorner__octocatArm,
  .GitHubCorner:focus .GitHubCorner__octocatArm {
    animation: animation-GitHubCorner-wave infinite 560ms ease-in-out
  }
}

@media (pointer: coarse) {
  .GitHubCorner__octocatArm {
    animation: animation-GitHubCorner-wave infinite 560ms ease-in-out;
  }
}
