.Header {
  --Header-min-height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 64rem;
  width: 100%;
  min-height: var(--Header-min-height);
  border-bottom: 1px solid;
  margin: 0 auto;
}

.Header__appName {
  padding: .5rem 0;

  text-transform: uppercase;
}

@keyframes animation-GitHubCorner-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

.GitHubCorner {
  --GitHubCorner-size: var(--Header-min-height);

  flex: 0 0 var(--GitHubCorner-size);

  display: block;
  width: var(--GitHubCorner-size);
  height: var(--GitHubCorner-size);

  color: var(--heading-color);
  clip-path: polygon(0 0, 100% 0, 100% 100%);

  transition: .2s;
}

.GitHubCorner:hover,
.GitHubCorner:focus {

  color: var(--link-color);
}

.GitHubCorner__octocat {
  display: block;
  width: inherit;
  height: inherit;
  fill: currentColor;
}

.GitHubCorner__octocatBody {
  fill: var(--body-bg-color);
}

.GitHubCorner__octocatArm {
  fill: var(--body-bg-color);
  transform-origin: 130px 106px;
}

@media (pointer: fine) {
  .GitHubCorner:hover .GitHubCorner__octocatArm,
  .GitHubCorner:focus .GitHubCorner__octocatArm {
    animation: animation-GitHubCorner-wave infinite 560ms ease-in-out
  }
}

@media (pointer: coarse) {
  .GitHubCorner__octocatArm {
    animation: animation-GitHubCorner-wave infinite 560ms ease-in-out;
  }
}

@media (min-width: 1024px) {
  .Header__appName {
    font-size: 1.5rem;
  }

  .GitHubCorner {
    position: fixed;
    right: 0;
    top: 0;
  }
}
